body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: #000;
  border: none;
  
}

.fundo {
  position: fixed;
  left: 0;              
  width: 100vw;        
  height: 100vh;         
  object-fit: cover;  
  z-index: -1;         
  background-image: url('./img/fundo9.jpg');
  background-size: cover;       
  background-repeat: no-repeat; 
  background-position: center; 
   border: none;
   opacity: 0.5;  
}


.game {
  width: 700px;
  height: 350px;
  position: relative;
  overflow: hidden;
  top: 90px;
}

#dino {
  width: 180px;
  height: 210px;
  position: absolute;
  bottom: 0;
  left: 50px;
  background-image: url('./img/cuca_sem_pe.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
}

#foot {
  position: absolute;
  bottom: -29px;
  /* ajusta para ficar no lugar certo */
  left: 18px;
  /* ajuste fino pra alinhar */
  width: 160px;
  height: 150px;
  transform-origin: center bottom;
  transition: transform 0.2s ease-in-out;
}

#cactus {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: -90px;
  left: 600px;
  z-index: 100000000px;
}

/* Quadrados coloridos */
.collectibleItems {
  position: absolute;
  width: 3px;
  height: 3px;
}

/* Inventário no canto superior direito */
#inventory {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}