body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  border: none;
  position: relative;
  background-image: url('./img/ceuu.gif');
  background-size: cover;
  /* cobre toda a tela */
  background-repeat: no-repeat;
  /* não repete */
  background-position: center 30%;
  /* ajusta verticalmente */
  
}

.vinheta {
  position: absolute;
  pointer-events: none; /* não bloqueia cliques nem toques */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 25% 65%,        /* foco da luz sobre a Cuca */
    rgba(0, 0, 0, 0) 5%,     /* centro completamente transparente */
    rgba(0, 0, 0, 0.75) 25%,  /* escurece rápido */
    rgba(0, 0, 0, 0.95) 60%,  /* quase preto */
    rgba(0, 0, 0, 0.95) 80%,     /* preto total */
    rgba(0, 0, 0, 1) 100%     /* bordas totalmente pretas */
  );
  z-index: 9999;
}


.chao {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 0;
  
}

.game {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
  top: -70px;
  z-index: 1;

}

#dino {
  width: 360px;
  height: 420px;
  position: absolute;
  bottom: 0;
  left: 50px;
  background-image: url('./img/cuca1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
}

#foot {
  position: absolute;
  bottom: -50px;
  /* ajustado levemente, já que cresceu */
  left: 40px;
  /* ajuste fino proporcional */
  width: 313px;
  height: 250px;
  transform-origin: center bottom;
  transition: transform 0.2s ease-in-out;
}

#cactus {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: -20px;
  left: 600px;
  z-index: 100000000px;
}

#cactus2 {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: -10px;
  z-index: 100000000px;
}
#cactus3{
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -10px;
  z-index: 100000000px;
}

/* Quadrados coloridos */
.collectibleItems {
  position: absolute;

}

/* Inventário no canto superior direito */
#inventory {
  position: fixed;
  top: 10px;
  right: 15px;
  display: flex;
  gap: 35px;
  padding: 15px;
}

/* RESPONSIVO */
@media (max-width: 600px) {

#dino{
  left: -40px;
}
body{
  width: auto;
}

.vinheta {
  background: radial-gradient(
    circle at 35% 55%,        /* foco da luz sobre a Cuca */
    rgba(0, 0, 0, 0) 5%,     /* centro completamente transparente */
    rgba(0, 0, 0, 0.65) 25%,  /* escurece rápido */
    rgba(0, 0, 0, 0.95) 60%,  /* quase preto */
    rgba(0, 0, 0, 0.95) 80%,     /* preto total */
    rgba(0, 0, 0, 1) 100%     /* bordas totalmente pretas */
  );
  z-index: 9999;
}
}